<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Estoque</title>
</head>
<body>
  <h2>📦 Estoque</h2>
  <table border="1" style="width:100%; text-align:center;">
    <tr><th>Produto</th><th>Início</th><th>Atual</th><th>Preço</th></tr>
    {% for nome, item in produtos.items() %}
      <tr>
        <td>{{ nome }}</td>
        <td>{{ item.inicio }}</td>
        <td>{{ item.quantidade }}</td>
        <td>R$ {{ item.preco }}</td>
      </tr>
    {% endfor %}
  </table>

  <h3>Saída de Produto</h3>
  <form method="POST" action="/saida">
    Produto: <select name="produto">{% for nome in produtos.keys() %}<option>{{nome}}</option>{% endfor %}</select><br>
    Quantidade: <input type="number" name="quantidade"><br>
    <button type="submit">Registrar Saída</button>
  </form>

  <h3>Entrada de Produto</h3>
  <form method="POST" action="/entrada">
    Produto: <select name="produto">{% for nome in produtos.keys() %}<option>{{nome}}</option>{% endfor %}</select><br>
    Quantidade: <input type="number" name="quantidade"><br>
    <button type="submit">Registrar Entrada</button>
  </form>

  <a href="/">⬅️ Voltar</a>
</body>
</html>
